@charset "UTF-8";

.header{
	background-color: greenyellow;
	
}

.azul{
	background-color: blue;

}

.gris{
	background-color: lightgrey;
	
}

.emoji{
	background-color: darkorange;

}

.footer{
	background-color: greenyellow;

}

.bloqueDisp{
	background-color: deepskyblue;

}